<section style="background-color: #eee;">
    <div class="text-center container py-5">
      
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let prod of products$|async; let i = index" >
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img [src]='prod.imageUrl'
                class="w-100" />
              <a href="#!">
               
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a  class="text-reset">
                <h5 class="card-title mb-3" >{{prod.name}}</h5>
              </a>
              <h6 class="mb-3">{{prod.price|currency:'INR'}}</h6>
              <button type="button" class="btn btn-secondary" (click)="prodDetails(prod)">View Product</button>
            </div>
          </div>
        </div>
  
        
  
       
      </div>
  
      
    </div>
  </section>